@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
.h1 {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    font-family: "Ubuntu sans";
    color: rgb(36, 36, 6);

}

.h2 {
    font-size: 60px;
    text-align: center;
    font-family: "Ubuntu sans";

}

.p1 {
    font-family: "Ubuntu sans";
    font-size: large;
    text-align: center;
}

.p4
{
    font-weight: bolder;
}

.a {
    font-family: "Ubuntu sans";
    font-weight: bold;
    font-size: larger;
}

.b
{
    font-family: "Ubuntu sans";
    text-decoration: underline;
    font-size: larger;
}

.img {
    background-image: url("bg2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.img2{
    height: 200px;
    margin-left: 50px;
    margin-top: 50px;
}

.img3{
    position: fixed;
    width: 250px;
    right: 100px;
    bottom: 30px;
}

.img4{
    position: fixed;
    width: 150px;
    right: 50px;
    bottom: 70px;
}
