@import url('https://fonts.cdnfonts.com/css/satoshi');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
}

body {
    background-image: url(/finals/gr.jpg);
    /* background-repeat: no-repeat; */
    background-size: contain;
    min-height: 100vh;
    font-family: 'Satoshi', sans-serif;
    color: white;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.main-content,
.about-section,
.work-section,
.contact-section,
.testimony-section,
.faqs-section {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    /* padding: 50px; 
    margin-bottom: 20px;  */
}
.navi {
    background-color: black;
    color: white;
    width: 100vw;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-img {
    width: 60px;
    height: auto;
}

.menu-list {
    display: flex;
}

.m-list {
    list-style: none;
    margin-left: 40px;
}

.m-list>a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    transition: color 0.3s ease-in-out;
    /* Adjusted transition timing and easing function */
    font-family: 'Satoshi', sans-serif;
    position: relative;
}

.m-list>a:hover {
    color: white;
    /* Ensuring font color stays white */
}

.m-list a:before,
.m-list a:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #FFF;
    /* Initial background color */
    content: "";
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    /* Adjusted transition timing and easing function */
}

.m-list a:before {
    top: -6px;
    transform: translateY(10px);
    /* Adjusted initial position */
}

.m-list a:after {
    bottom: -6px;
    transform: translateY(-10px);
    /* Adjusted initial position */
}

.m-list a:hover:before,
.m-list a:hover:after {
    opacity: 1;
    transform: translateY(0);
    background-color: #2A4BB3;
    /* Change underline color on hover */
}




/* #unlock-container {
    width: 80%;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider {
    position: relative;
    width: 100%;
    height: 60px;
    background: #444;
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
}

#slider-handle {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease;
}

#slider-text {
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #fff;
    white-space: nowrap;
} */

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}

.home-container {
    height: 400px;
    width: 75%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 40% 45% 15%;
    grid-template-rows: 10% 30% 60%;
    gap: 10px;
    margin: 20px;

}

.detail-container {
    grid-column: 1/2;
    grid-row: 1/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #25252F;
    border-radius: 10px;
    padding: 10px;
}

.skill-container {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    background-color: #25252F;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    /* Added to prevent overflow */
}

.name-container {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    background-color: #003479;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    /* Center text inside */
}

.name-container h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
    /* Center text */
}



.my-image {
    grid-column: 3/4;
    grid-row: 1/3;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    background-color: #CF9A29;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    /* Added to prevent overflow */
}

.image-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #1C1C25;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-image {
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
}

.skill-square {
    width: 100px;
    height: 100px;
    background-color: #1C1C25;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-square:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.skill-logo {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.social-container {
    grid-column: 3/4;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    /* Changed to column */
    gap: 10px;
    padding: 10px;
    background-color: #25252F;
    overflow: hidden;
    /* Added to prevent overflow */
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.social-square {
    width: 80px;
    height: 80px;
    background-color: #1C1C25;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-circle {
    width: 60px;
    height: 60px;
    background-color: #25252F;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-circle:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.skill-button {
    width: 75px;
    height: 75px;
    background-color: #25252F;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 0 10px;
    /* Adjust margin as needed */
}

.skill-button:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.social-logo {
    width: 40px;
    /* Size of the logo */
    height: 40px;
    /* Size of the logo */
    object-fit: contain;
    /* Ensure logo fits inside circle */
}

.entertain-container {
    grid-column: 2/3;
    grid-row: 3/4;
    padding: 10px;
    background-color: #25252F;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.tic-tac-toe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
    gap: 5px;
}

.cell {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid white;
    cursor: pointer;
}

.message {
    margin-top: 10px;
    font-size: 14px;
    color: white;
}

.reset-button {
    margin-top: 10px;
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 10px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: 'Satoshi', sans-serif;
    font-size: 14px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 100px;
    padding: 5px 10px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.reset-button:active,
.reset-button:hover {
    outline: 0;
}

@media (min-width: 768px) {
    .reset-button {
        font-size: 24px;
        min-width: 196px;
    }
}

.detail-img {
    width: 350px;
    height: 350px;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
}

.detail-circle {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #1C1C25;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-section {
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.about-section h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: left;
}


.about-container {
    height: auto;
    width: 70%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    /* Adjusted column widths */
    grid-template-rows: 25% 75%;
    gap: 10px;
    margin: auto;
    /* Center the container horizontally */
    padding: 10px;
    /* Added padding for better spacing */
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.personal-container {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    background-color: #25252F;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    /* Added to prevent overflow */
    height: 100%;
    /* Ensure containers take up full height */
}


.education-container {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    background-color: #25252F;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    /* Added to prevent overflow */
    height: 100%;
    /* Ensure containers take up full height */

}


.professional-container {
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: #25252F;
    /* Adjusted background color */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    /* Added to prevent overflow */
    height: 100%;
    /* Ensure containers take up full height */

}

.display-container {
    grid-column: 2/3;
    /* Spanning from column 2 to column 3 */
    grid-row: 1/3;
    /* Spanning from row 1 to row 3 */
    background-color: #003479;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    /* Enable vertical scrolling if needed */
    position: relative;
    /* Ensure positioning context for .tv-box */
}

.image-container {
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    background-color: #25252F;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    /* Added to prevent overflow */
    height: 100%;
    /* Ensure containers take up full height */
}

.personal-square {
    width: 100px;
    height: 100px;
    background-color: #1C1C25;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.educ-square {
    width: 100px;
    height: 100px;
    background-color: #1C1C25;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.prof-square {
    width: 100px;
    height: 100px;
    background-color: #1C1C25;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-square {
    width: 100px;
    height: 100px;
    background-color: #1C1C25;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-personal {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.circle-button {
    width: 75px;
    height: 75px;
    background-color: #25252F;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.circle-button:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #ECB336;
}

.circle-button button {
    background: none;
    border: none;
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
    outline: none;
}

.details-display {
    width: 400px;
    height: 400px;
    padding: 10px;
    color: white;
    font-size: 1.1rem;
}

.tv-box {
    background-color: black;
    border: 10px solid #25252F;
    /* Match the background color of display-container */
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    max-width: 800px;
    /* Adjust width as needed */
    height: 100%;
    max-height: 600px;
    /* Adjust height as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tv-box h3 {
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
}

.details-display {
    width: 400px;
    height: 400px;
    padding: 10px;
    color: white;
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.6;
    /* Improved readability */
    max-width: 80%;
    /* Limit width for better readability */
}

.details-display p {
    margin-bottom: 10px;
}

.work-section {
    height: auto;
    /* Adjust height as needed */
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    /* Ensure enough margin between sections */
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;


}

.work-section h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: left;
}

.work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.work-image {
    width: 100px;
    height: 200px;
}

.work-item {
    width: 400px;
    background-color: #1C1C25;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.work-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.work-item h3 {
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
}

.work-item .btn {
    display: block;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: #25252F;
    color: #ECB336;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: background-color 0.3s ease;
}

.work-item .btn:hover {
    background-color: #1C1C25;
}

.work-item:hover {
    transform: translateY(-5px) scale(1.03);
    /* Scale up slightly */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.contact-section {
    height: auto;
    /* Adjust height as needed */
    padding: 50px;
    padding-top: 100px;
    /* Adjust padding-top to create space */
    margin-bottom: 50px;
    /* Ensure enough margin between sections */
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;

}

.contact-section h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: left;
}

.contact-container {
    height: auto;
    width: 80%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    gap: 10px;
    margin: 20px auto;
    /* Centering horizontally */
    justify-content: center;
    align-items: center;
}

.contact-intro {
    grid-column: 1/2;
    grid-row: 1/2;
}

.contact-details {
    grid-column: 1/2;
    grid-row: 2/3;
}

.contact-details p {
    text-align: left;
}

.detail-box {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.social-details {
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: #25252F;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    /* Center items horizontally */
    align-items: center;
    /* Center items vertically */
    border-radius: 10px;
    overflow: hidden;
}

.contact-square {
    width: 80px;
    height: 80px;
    background-color: #1C1C25;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-circle {
    width: 60px;
    height: 60px;
    background-color: #25252F;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-circle:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.contact-form {
    grid-column: 2/3;
    grid-row: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: #1C1C25;
    border-radius: 10px;
}

.main-form {
    width: 100%;
    /* Take full width of .contact-form */
    max-width: 600px;
    /* Max-width as per your design */
    padding: 20px;
    border-radius: 10px;
    background-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* Gap between form fields */
}

.form-field {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #25252F;
    color: white;
    outline: none;
}

input::placeholder,
textarea::placeholder {
    color: #888;
    opacity: 1;
    /* Firefox */
}

input:focus::placeholder,
textarea:focus::placeholder {
    opacity: 0;
}

.send-button {
    margin-top: 10px;
    /* Smaller margin */
    padding: 8px 16px;
    /* Smaller padding */
    border: none;
    border-radius: 5px;
    background-color: #FF4500;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.send-button:hover {
    background-color: #FF6347;
}

.testimony-section {
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
    margin-bottom: 50px;
}

.testimony-section h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: left;
}

.testimony-section .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    /* Adjust the gap between cards */
}

.testimony-section .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    /* Adjust the width of each card */
    height: 320px;
    /* Adjust the height of each card */
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    position: relative;
    transition: 0.4s ease-out;
    padding: 20px;
}

.testimony-section .card:hover {
    transform: translateY(-20px);
}

.testimony-section .card:not(:first-child) {
    margin-left: 0;
}

.testimony-section .title {
    color: white;
    font-weight: 300;
    position: absolute;
    top: 15px;
    left: 20px;
}

.testimony-section .bar {
    position: absolute;
    top: 100px;
    left: 20px;
    width: calc(100% - 40px);
    /* Adjusted to dynamically calculate the width */
    height: 5px;
}

.testimony-section .emptybar {
    width: 100%;
    height: 100%;
    background-color: #2e3033;
}

.testimony-section .filledbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 154, 217, 1) 0%, rgba(217, 147, 0, 1) 65%, rgba(255, 186, 0, 1) 100%);
    transition: width 0.6s ease-out;
}

.testimony-section .card:hover .filledbar {
    width: 100%;
    /* Fills up to the end of the .bar */
}

.testimony-section .testimonial-text {
    color: white;
    font-size: 0.9rem;
    margin-top: auto;
    text-align: center;
}

.testimony-section .stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: stroke-dashoffset 0.6s ease-out;
}

.testimony-section svg {
    fill: #17141d;
    stroke-width: 2px;
}

.testimony-section .card:hover .stroke {
    stroke-dashoffset: 100;
}


.faqs-section {
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 50px 20px;
}

.faqs-section h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: left;
}

.swiper-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    /* Ensure the container is positioned relative for absolute positioning of navigation buttons */
    display: flex;
    align-items: center;
    /* Align items vertically */
}

.swiper-wrapper {
    display: flex;
    align-items: center;
    /* Align items vertically */
}

.swiper-slide {
    width: 300px;
    /* Set the width of the FAQ boxes */
    height: 200px;
    /* Set the height of the FAQ boxes */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    color: #fff;
    flex-shrink: 0;
    /* Prevent the slides from shrinking */
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq-item {
    padding: 20px;
    text-align: left;
}

.faq-question {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.faq-answer {
    font-size: 16px;
    line-height: 1.6;
}

.swiper-button-prev,
.swiper-button-next {
    color: #fff;
    font-size: 18px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;

}

.swiper-button-prev {
    left: 10px;
}

.swiper-button-next {
    right: 10px;
}

.swiper-button-disabled {
    opacity: 0.5;
    pointer-events: none;
}

.bg-color {
    background: linear-gradient(90deg, rgba(0, 154, 217, 1) 0%, rgba(217, 147, 0, 1) 65%, rgba(255, 186, 0, 1) 100%);
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
