* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(https://img.freepik.com/free-vector/white-abstract-wallpaper_23-2148830028.jpg?t=st=1738735796~exp=1738739396~hmac=e6277d9cf08900eb87177e8593304fcfc901733a5b95b35a79a569938e63c9b1&w=1380);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    width: 80%;
    height: 80vh;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}

.button-container button {
    padding: 12px 20px;
    border: none;
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
    width: 150px;
    transition: transform 0.2s ease-in-out;
    color:white;
    font-weight: bold;
}


.button-container button:hover {
    transform: scale(1.1);
    opacity: 0.9;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.monday { background-color: #4169E1; }

.tuesday { background-color: coral; }

.wednesday { background-color: mediumseagreen;}

.thursday { background-color: goldenrod; }

.friday { background-color: turquoise; }

.saturday { background-color: slateblue; }

.sunday { background-color: tomato; }


.main-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box-container {
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;
}

#box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -120%;
    border-radius: 10px;
    background-color: lightgray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    transition: top 0.8s ease-in-out, background-color 0.5s ease-in-out 0.5s;
}

.hidden {
    display: none;
}
